/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/

.kontejner{
  display: flex;
  background-color:#31363b;
  flex-direction: column;
  box-shadow: 3px 3px 3px grey;
}
body {
  background-color: #bdc3c7;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right:1082px;
}
.foto{
  width:350px;
  position: center;
  }
.logo{
  background-color:#b92e81;
  border-radius:50px;
  margin: -70px;
  margin-bottom: -25px;
}
h1{
  color:white;
  font-family: 'Montserrat', sans-serif;
  margin-left:60px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);

}
body{
  color: grey;
}
.odkazy li{
  display:inline-block;
}

.odkazy a{
  display:inline-block;
  padding: 20px 30px;
  margin: 10px;
  color: white;
  text-decoration: none;
  color:grey;
}
.obsah p{
  margin-left:60px;
  margin-right:30px;
}
.portfolio a:hover{
  background-color: #e74c3c;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
.facebook a:hover{
  background-color: #3b5998;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
.twitter a:hover{
  background-color: #1da1f2;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
.portfolio{
  text-align:center;
}